body {
   background-image: url('img/bc.jpg');
   background-repeat: no-repeat;
   background-size: cover;

}

p {
	font-family: 'Times New Roman', Times, serif;
	font-size: 40px;
	font-weight: bold;
}

h1 {
	font-size: 50px;
	text-align: center;
}